<div class="container p-0">
    <div class="card">
        <div class="card-header border-0 pb-0">
            <h1 class="mb-0">Subsanar</h1>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <form [formGroup]="registroSubsanarDetalleForm" (submit)="submit()">
                    <div class="form-group"
                        [ngClass]="{'has-danger' : motivoSubsanar.errors && motivoSubsanar.touched,'has-success': !motivoSubsanar.errors}">
                        <label for="inputMotivo">Motivos</label>
                        <textarea rows="10" cols="50" class="form-control" formControlName="motivoSubsanar"></textarea>
                    </div>
                    <button type="submit" class="btn btn-github"
                        [disabled]="registroSubsanarDetalleForm.invalid">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>