<div class="container">
    <div class="card-header border-0 pb-0">
        <h1 class="mb-0">Detalles</h1>
    </div>
    <hr class="my-4" />
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group">
                <div *ngFor="let dato1 of array1; let i = index">
                    <li class="list-group-item py-2"><p class="font-weight-bold display-5 mb-0">{{dato1}}</p></li>
                    <li class="list-group-item py-2"><p class="mb-0 text-dark">{{array2[i]}}</p></li>
                </div>
            </ul>
        </div>
    </div>
    <hr class="my-4" />
    <div class="row justify-content-center">
        <div>
            <div style="width: 400px; height: 150px; text-align:center;margin:0; padding:0;">
                <ng-image-slider #nav
                  [images]="imageObject"
                  [infinite]="false"
                  [autoSlide]="1"
                  [imageSize]="{width: '25%', height: 100}"
                  slideImage="1"></ng-image-slider>
            </div>
        </div>
    </div>
</div>


