<div class="container">
    <div class="card-header border-0 pb-0">
        <h1 class="mb-0">Detalles</h1>
    </div>
    <hr class="my-4" />
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group">
                <table class="table table-bordered table-sm table-normal">
                    <th></th>
                    <th>Datos</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Observación</th>
                    <th>Supervisor</th>
                    <tr *ngFor="let producto of productos; let i = index">
                        <td>
                            {{i + 1}}
                        </td>
                        <td>
                            {{producto.producto.name}} - {{producto.user.name}}, {{producto.user.lastname}}
                        </td>
                        <td>
                            {{producto.fecha_accion | date:'medium'}} 
                        </td>
                        <td>
                            {{producto.state}}
                        </td>
                        <td>
                            {{producto.accion}}
                        </td>
                        <td>
                            {{producto.supervisor_name}} {{producto.supervisor_lastname}}
                        </td>
                    </tr>
                </table>
            </ul>
        </div>
    </div>
    <hr class="my-4" />
</div>